DB_USER=root
DB_PASS=YOUR_DATABASE_PASSWORD
DB_NAME=YOUR_DATABASE_NAME

USE_OAUTH=true

# When USE_OAUTH is true
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
FIREBASEADMINSDK_SECRETKEY_FILENAME=firebaseSecretKey.json
OAUTH_ALLOWED_EMAIL_DOMAIN=gmail.com

# When USE_OAUTH is false
PASSWORD=

USE_DBPANEL=true
WEBP_IMAGE_ENCODING=true

USE_HTTPS=false
HTTPS_EMAIL=you@gmail.com
HTTPS_DOMAIN=example.com
